@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-darkgray: #313131;
    --color-bg: #F0F0F0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: var(--color-darkgray);
    background: var(--color-bg);
}